@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    @{Html.RenderPartial("_AdminNavbar");}
    <div class="panel panel-default x_panel">
        <div class="x_title">
            <span class="h3"><i class="fa fa-gears"></i> Administrering </span>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-3">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <span class="h4">
                                <i class="fa fa-user-plus text-success"></i> Skapa användare
                                <span class="pull-right">
                                    <a class="btn btn-xs btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </span>
                            </span>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                <span class="col-lg-12 text-center"><span class="alert-danger">@ViewBag.UserExists</span></span>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <select name="role" class="form-control placeholder" asp-items="ViewBag.UserRole"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input asp-for="UserName" class="form-control" placeholder="Namn" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <span class="col-lg-12 text-center"><span class="badge badge-waring alert-danger">@ViewBag.RegnrExists</span></span>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input asp-for="RegNr" class="form-control" placeholder="Regnr" />
                                        <span asp-validation-for="RegNr" class="text-danger"></span>
                                    </div>
                                </div>
                                <span class="col-lg-12 text-center"><span class="badge badge-waring alert-danger">@ViewBag.EmailExists</span></span>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input asp-for="Email" class="form-control" placeholder="Epost" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input asp-for="Password" class="form-control" placeholder="Lösenord" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Repetera Lösenord" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            @await Component.InvokeAsync("UsersInSystem")
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
