@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-md-12">
                            <select name="role" class="form-control placeholder" asp-items="ViewBag.UserRole"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" placeholder="Namn" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" placeholder="Epost" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" placeholder="Lösenord" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Retetera Lösenord" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</form>
    
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
