<div class="col-md-12 col-sm-12 col-xs-12">-
    <div class="x_panel">
        <div class="x_title">
            <span class="h3">
                <i class="fa fa-list-ol"></i> Utkörningslista @User.Identity.Name @DateTime.Now.ToString("yyyy-MM-dd")<span class="pull-right" id="clock"></span><br />
                <a data-toggle="modal" data-target="#exampleModal">
                
                    <!--Needs some real data to work - JUST A MOCKUP -->
                    @{ var count = 4;}
                    @if(count != 0)
                    {   
                        <i class="fa fa-envelope fa-lg message-envelope animated jello"><span class="badge message-count">@count</span></i>
                    }
                    else
                    {
                        <i class="fa fa-envelope fa-lg message-envelope-empty"></i>
                    }
                </a>

            </span>
            <!--MODAL FOR MESSAGES-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                        </div>
                        <div class="modal-body">
                            @{
                                Html.RenderPartial("_Message");
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- start accordion -->
            <section class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading collapsed col-md-12">
                        <div class="col-lg-8 pull-left">
                            <p class="h5 text-left">1. Klas Knutsson, Björkkvistsgatan 3, 392 44 Nyköping </p>
                        </div>
                        <div class="col-lg-4">
                            <span class="btn btn-sm btn-info" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-info-circle fa-2x"></i>
                            </span>
                            <span class="btn btn-sm btn-success"><i class="fa fa-phone fa-2x"></i></span>
                            <span class="btn btn-sm btn-primary"><i class="fa fa-map-o fa-2x"></i></span>
                            <span class="btn btn-sm btn-danger"><i class="fa fa-check-circle fa-2x"></i></span>
                        </div>
                    </div>
                    <div id="collapseOne" class="col-md-12 panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <!--Customer Detail Data Start-->
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <p><h4>Namn: Klas Knutsson</h4></p>
                                    <p><h4>Address: Björkkvistsgatan 3</h4> </p>
                                </div>
                                <div class="col-md-4">
                                    <p><h4>Postadress: 392 44</h4> </p>
                                    <p><h4>Stad: Nyköping</h4></p>

                                </div>
                                <div class="col-md-4">
                                    <p><h4><i class="fa fa-phone"></i> #1: <span typeof="phone">0499 - 12 34 56</span></h4> </p>
                                    <p><h4><i class="fa fa-phone"></i> #2: <span typeof="phone">0703 - 22 33 44</span></h4></p>
                                </div>
                                <div class="col-md-12">
                                    <h5>Typ av leverans: <strong>Curbside</strong></h5>
                                </div>
                            </div><!--Customer Detail Data End-->

                            <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <table id="myTable" class="table table-width table-striped dt-responsive dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
                                    <thead>
                                        <tr class="text-center">
                                            <th><h4>Antal</h4></th>
                                            <th><h4>KollieId</h4></th>
                                            <th><h4>Artikel</h4></th>
                                            <th><h4>Plockad</h4></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><h5>1</h5></td>
                                            <td><h5>078282988529SE</h5></td>
                                            <td><h5>Cylinda Diskmaskin</h5></td>
                                            <td>
                                                <div class="slideThree">
                                                    <input type="checkbox" value="None" id="slideThree1" name="check2" />
                                                    <label for="slideThree1"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h5>1</h5></td>
                                            <td><h5>072776576429SE</h5></td>
                                            <td><h5>Cylinda Spishäll</h5></td>
                                            <td>
                                                <div class="slideThree">
                                                    <input type="checkbox" value="None" id="slideThree2" name="check2" />
                                                    <label for="slideThree2"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h5>1</h5></td>
                                            <td><h5>075545988529SE</h5></td>
                                            <td><h5>Electrolux Double Kyl/Frys</h5></td>
                                            <td>
                                                <div class="slideThree">
                                                    <input type="checkbox" value="None" id="slideThree3" name="check3" />
                                                    <label for="slideThree3"></label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span class="h4 pull-right">Total antal kollie 3 st</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- end of accordion -->
        </div>
    </div>
</div>
