@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User)) //Check loggedin user and match orderId<=>UserId in controller to populate OrderList
{
    Html.RenderPartial("_DeliveryList");
}
else
{

    <div class="center">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="User" class="form-control" placeholder="Användarnamn" />
                    <span asp-validation-for="User" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" placeholder="Lösenord" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-success text-uppercase" oncclick="ShowProgress()"><span class="fa fa-sign-in"></span> Logga in</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="checkbox">
                            <input asp-for="RememberMe" placeholder="Kom ihåg mig"/>
                            @Html.DisplayNameFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <p>
                <a asp-action="ForgotPassword">Forgot your password?</a>
            </p>
        </form>
    </div>
    <div class="loader"></div>
@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
}
