@model RouteLister2.Models.RouteList

@{
    ViewData["Title"] = "Create";
}



<form asp-action="Create">
    <div class="form-horizontal">
        <h4>RouteList</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>

        @if (ViewBag.UserDropDown != null)
        {
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="ApplicationUserId" asp-items="@ViewBag.UserDropDown" class="form-control">
                    </select>
                    <span asp-validation-for="ApplicationUserId" class="text-danger" />
                </div>
            </div>
        }
        @*else
        {
            <p>
                Finns ingen bil tillgänglig
                <a href="@Url.Action("Create","Acco")" target="_blank">Lägg </a>
                till en ny bil
            </p>
        }*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


