@model RouteLister2.Models.MapRouteViewModel.MapRouteViewModel
<input id="origin-input" class="controls" type="text" value="" placeholder="Enter an origin location" readonly>
<input id="destination-input" class="controls" type="text" value="@Model.Destination" placeholder="Enter a destination location">
<input hidden type="radio" name="type" id="changemode-walking">
<input hidden type="radio" name="type" id="changemode-transit">
<input hidden type="radio" name="type" id="changemode-driving" checked="checked">

   
<div id="canvas-wrap">
    <div id="map_canvas" onclick="closeNav()"></div>
    <div id="overlay">
        <div class="loader"></div>
        <span onclick="openNav()">
            <span class="fa fa-info-circle fa-3x pull-right" style="padding-top:10px; cursor: pointer"></span>
        </span>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div id="right-panel"></div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_MapRouteScriptsPartial"); }
}