@model MapRouteViewModel

<input id="origin-input" class="controls" type="text" value="" placeholder="Enter an origin location" readonly>

<input id="destination-input" class="controls" type="text" value="@Model.Destination" placeholder="Enter a destination location">
<input hidden type="radio" name="type" id="changemode-walking">
<input hidden type="radio" name="type" id="changemode-transit">
<input hidden type="radio" name="type" id="changemode-driving" checked="checked">

   
<div id="canvas-wrap">
    <div id="map_canvas" onclick="closeNav()"></div>
    <div id="overlay">
        <span onclick="openNav()">
            <span class="text-info fa fa-info-circle fa-3x pull-right" style="padding-top:10px; cursor: pointer"></span>
        </span>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div id="right-panel"></div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX19N6_xtYwKuIBgNgfqWvCoH6yqIZm8E&libraries=places&callback=initMap"></script>